#asset-item-ownership-loader-container {
    text-align: center;
}

#asset-item-ownership-loader {
    transition: opacity 1s;
}

#asset-item-ownership-loader.hidden {
    display: none;
    opacity: 0;
}

asset-item:not(.not-owned) #asset-item-owner {
    display: initial !important;
}

user-info > * {
    display: block;
    float: none !important;
    margin: 1em !important;
}

user-info > a::first-letter {
    text-decoration: none;
}

h3 {
    margin-bottom: 0;
}
