ul#asset-item-otrs {
    padding-inline-start: 0;
}

asset-item:not(.owned) {
    color: gray;
}

asset-item.otr-waiting {
    color: orange;
}

#only-my-assets:checked ~ #assets > asset-item:not(.owned):not(.otr-waiting) {
    display: none !important;
}

asset-item:not(.otr-waiting) #asset-outgoing-otr-reject {
    display: none !important;
}

asset-item:is(:not(.not-owned), .otr-waiting) #asset-item-otr-button {
    display: none !important;
}

asset-item:not(.not-owned) #asset-item-owner {
    display: none !important;
}

:is(asset-otr, asset-item) pre {
    display: inline;
}

asset-otr li {
    display: block;
}

#user-info-call, #user-info-address, #user-info-email {
    float: right;
    margin-top: -5px !important;
    margin-left: 0.5em;
}

user-info.has-name #user-info-uid {
    display: none !important;
}

:is(#user-info-call, #user-info-address, #user-info-email):not([href]) {
    display: none !important;
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.existing .when-not-existing {
    display: none !important;
}

asset-item:not(.no-owner) #asset-item-take-button {
    display: none !important;
}

#asset-item-picture {
    width: calc(100% - 2 * 5px - 2 * 1px);
    border: 1px solid lightgray;
    border-radius: 10px;
    /* box-shadow: 0px 0px 2px 1px; */
    padding: 5px;
}
