style.
    ul {
        list-style-type: disclosure-closed;
    }

main
    h1 KanyaRent Lite
    ul
        li: a(href='assets/') Manage assets
        li: a(href='users/') Manage users
        li: a(href='logout') Logout